@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$blue-light: #477ecb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: #264e86;
$link: #1b375e;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Do not remove these 2. The entire platform uses dependencies from here
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
// This can be removed, but a lot of dependencies works with this
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";

// Bulma imports
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/progress.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";

// Font Awesome
@import "./font_awesome/fontawesome.scss";
@import "./font_awesome/solid.scss";
@import "./font_awesome/brands.scss";

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

.section {
  &-default {
    @extend .py-5, .px-4, .has-background-light;
  }
}

.title {
  & {
    position: relative;
  }

  &:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: $primary;
    width: 100px;
    bottom: -5px;
  }
}

.resume {
  & {
    @extend .pl-3, .pb-3, .is-relative;
    border-left: 2px solid $white;
  }

  &:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    left: -7px;
    top: 0;
    background: $black-ter;
    border: 2px solid $white-ter;
  }

  & a {
    @extend .has-text-grey-light, .is-underlined;
  }

  & .is-flex {
    @extend .mb-3;
    height: 15px;
  }

  & h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.social-links {
  @extend .my-3;

  & a {
    @extend .p-1;
    background: $primary;
    color: $white-ter;
    line-height: 1;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 2.75rem;
    height: 2.75rem;
    transition: 0.3s;

    &:hover {
      background: #0563bb;
      color: $white-ter;
      text-decoration: none;
    }
  }
}
