.header {
  &-background {
    background-image: url("../assets/main-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }

  &-overlay {
    @extend .is-overlay;
    background-color: $overlay;
    opacity: 0.9;
  }

  &-content {
    @extend .has-text-white,
      .is-overlay,
      .is-flex,
      .is-justify-content-center,
      .is-align-items-center,
      .is-flex-direction-column,
      .px-1,
      .has-text-centered;
  }
}

.section {
  &-default {
    @extend .py-5, .px-4, .has-background-light;
  }
}

.title {
  & {
    position: relative;
  }

  &:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: $primary;
    width: 100px;
    bottom: -5px;
  }
}

.quote {
  &-background {
    @extend .header-background;
    position: relative;
    background-image: url("../assets/plane-background.png");
    background-attachment: unset;
  }

  &-overlay {
    @extend .header-overlay;
  }
}

.resume {
  & {
    @extend .pl-3, .pb-3, .is-relative;
    border-left: 2px solid $white;
  }

  &:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    left: -7px;
    top: 0;
    background: $black-ter;
    border: 2px solid $white-ter;
  }

  & a {
    @extend .has-background-link-dark;
  }

  & .is-flex {
    @extend .mb-3;
    height: 15px;
  }

  & h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.social-links {
  @extend .my-3;

  & a {
    @extend .p-1;
    background: $primary;
    color: $white-ter;
    line-height: 1;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 2.75rem;
    height: 2.75rem;
    transition: 0.3s;

    &:hover {
      background: #0563bb;
      color: $white-ter;
      text-decoration: none;
    }
  }
}
